/*  barra lateral */
body{
    background-color: #220C40 !important;
}

.logo{
    margin-top: 8%;
    width: 90%;
    height: 20%;
}

.formulario{
    background-color:#AE4AD9 !important;
    width: 50vh !important;
    height: 100%;
    flex-direction: column;
    margin-left: 110%;
    
}

.imagenPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 150px;
    margin-left: 200px;
    width: 100vh;
    height: 60%;
}

.btnFormulario{
    background-color: #5A278C !important;
}

.redes{
    display: flex;
    margin-top: 250px;
    justify-content: space-between;
    
    
}
.prueba{
    width: 1000px;
    margin-left: 200px;
    display: flex;
    color: #AE4AD9;
}

th{
    color: #AE4AD9;
}

.tbody{
    background-color: #5A278C !important;
    color: #AE4AD9;
    margin-left: 90% !important;
}

.thead  {
    color: #AE4AD9;
    margin-top: 20% !important;
    background-color: #5A278C !important;
    margin-left: 90% !important;
}

.encabezado {
    color: #AE4AD9;
    background-color:#5A278C ;
    margin-top: 20%;

}


.botonProducto{
    background-color: #AE4AD9 !important;
    color: #220C40 !important;
    font-weight: 700;
    width: 50vh;
    height: 40%;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: 26%;
    margin-bottom: 30px;

}
.botonProducto:hover{
    color: #AE4AD9;
    background-color: #5A278C;
}

.sectionLink{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    padding: 1% !important;
    width: 90% !important;
    margin-top: -45% !important;
    gap: 10px !important;
   
}

.item{
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #220C40;
}
.item:hover{
    color: #AE4AD9;
}

/* inicio */
.imgs{

    width: 100vh;   
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-left: 20%;
}

.tituloPrincipal{
    color: #E68DF2;
    font-weight: 600;
    font: 1000;
    }

/*main*/
main{
width: 81.9vw;
height: 100vh;
background-color: #100626;
top: 0;
margin-left: 22%;
}

/* vista producto */
.tituloProducto{
    color: #E68DF2;
    font-size: 44px;
    margin-left: 15%;
    text-align:center ;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}





/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 350px;
    max-width: 350px;
    height: 100vh;
    background: #5A278C;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #5A278C;
}

#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #5A278C;
    background:#AE4AD9;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5A278C;
}




ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #5A278C;
}